html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
  height: 98%;
  width: 100%;
}

nav {
  position: relative;
  left: 10px;
}

hr {
  background: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background: lightblue;
}

.panel-body {
  height: 80px;
  position: relative;
  overflow: hidden;
}

.panel-body:hover {
    cursor: pointer;
    opacity: 0.5;
    background: grey;
    transition: .5s ease;
}

.main-panel {
  border: 1px solid black;
  height: 80px;
  padding: 0px;
}

.calendar{
  margin: 10px;
  position: relative;
  left: 20px;
  bottom: 20px;
}

.row {
  margin-bottom: 0px;
}

.navbar {
  background: lightblue;
  margin: 10px;
}

#day-headings {
  background: lightblue;
  color: black;
}

#submit-form {
	margin: 20px;
}

#date-display {
  position: absolute;
  left: 20%;
  font-size: 30px;
  transition: 0.5s;
}

#currentdate {
  background: orange;
  border-bottom: 2px solid black;
}

#dateselected {
  border: 2px solid blue;
  background: blue;
}

#upfile {
	margin: 20px;
}

#date-holder {
  position: absolute;
  color: black;
  bottom: 0px;
  left: 0px;
  margin-left: 5px;
}

#side-display-container {
  position: absolute;
  top: 0px;
  right: -100px;
  height: 90%;
  width: 46.6%;
  background: white;
}

#side-display {
  margin: 10px;
  height: 100%;
  width: 80%;
  background: lightgrey;
  border-radius: 20px;
  border: 1px solid black
}

.row .col {
  padding: 0px;
}

#modal-submit {
  background: lightblue;
  position: relative;
  left: 25px;
}

#caption-text {
  height: 200px;
  width: 80%;
}

#warning-modal {
  color:red;
  font-weight: bold;
}

#side-display-caption-container {
  position: absolute;
  bottom: 0px;
  height: 48%;
  width: 77%;
  margin-left: 10px;
  background: #7E7C7F;
  border-radius: 20px;
  color: white;
  padding: 10px;
}

#side-display-img {
  border-radius: 20px;
}