html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
  height: 98%;
  width: 100%;
}

nav {
  position: relative;
  left: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
}

.panel-body {
  height: 80px;
  position: relative;
  overflow: hidden;
}

.panel-body:hover {
    cursor: pointer;
}

.main-panel {
  border: 1px solid black;
  height: 80px;
  padding: 0px;
}

.calendar{
  margin: 10px;
  position: relative;
  left: 20px;
  bottom: 20px;
}

.row {
  margin-bottom: 0px;
}

.navbar {
  background: lightblue;
  margin: 10px;
}

#day-headings {
  background: lightblue;
  color: black;
}

#submit-form {
	margin: 20px;
}

#date-display {
  position: absolute;
  left: 20%;
  font-size: 30px;
  transition: 0.5s;
}

#currentdate {
  background: orange;
  border-bottom: 2px solid black;
}

#dateselected {
  border: 4px solid blue;
}

#upfile {
	margin: 20px;
}

#date-holder {
  position: absolute;
  color: black;
  bottom: 0px;
  left: 0px;
  margin-left: 5px;
}

#side-display-container {
  position: absolute;
  top: 0px;
  right: -100px;
  height: 90%;
  width: 46.6%;
  background: white;
}

#side-display {
  margin: 10px;
  height: 100%;
  width: 80%;
  background: lightgrey;
  border-radius: 20px;
  border: 1px solid black
}

.row .col {
  padding: 0px;
}

#modal-submit {
  background: lightblue;
  position: relative;
  left: 25px;
}

#caption-text {
  height: 200px;
  width: 80%;
}

#warning-modal {
  color:red;
  font-weight: bold;
}

ul.slides {
  height:500px!important;
}

div.slider {
  height: 450px!important;
}
div.nav-wrapper {
  background-color:black;
}

.slider .indicators .indicator-item.active {
  background-color: purple;
} 

.slider .slides li img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.brand-logo {
  background-image: url("../public/savedimages/introspectiv-logo.png")
}

footer.page-footer {
  background-color: black;
}

/*div.container {
  text-align: center;
}

div.row {
  text-align: center;
  font-size: 25px;
}*/

footer.page-footer.example {
  margin-top: 50px;
}

div.container {
  text-align: center;
}

copyrights {
  text-align: center;
}

#signup-btn {
  border: 20px;
  background-color: purple!important;
}

div.container {
  padding: 25px;
}

.row .col.l6 {
  width: 100%!important;
}

data-target {
  height:0%!important;
  width: 0px!important;
}

.input-field .prefix.active {
  color: purple!important;
}

label.active {
  color: purple!important;
}

input#input_4 #input_5 .active {
  border-bottom: 1px solid purple!important;
}

