html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
  height: 20px;
  width: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
}

.panel-body {
  padding: 10px;
}

.panel-body:hover {
    cursor: pointer;
}

.calendar{
  margin: 10px;
  position: relative;
  left: 100px;
}

.navbar {
	background: lightblue;
}

#day-headings {
  background: lightblue;
  color: white;
}

#submit-form {
	margin: 20px;
}

#date-display {
  position: relative;
  left: 300px;
  font-size: 30px;
}

#currentdate {
  background: orange;
}

#dateselected {
  border: 4px solid blue;
}

#upfile {
	margin: 20px;
}
.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}

/*.slider .slides li .caption {
  color: black;
}*/

.slider .slides li img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

nav {
  background-color: black;
}

div.slider {
  height: 600px!important;
}

ul.slides {
  height: 550px!important;
}
