html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow-x:hidden;
}

img {
  height: 98%;
  width: 100%;
}

nav {
  position: relative;
  left: 10px;
}

.btn {
  background: black;
}

.btn:hover {
  background: grey;
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background: black;
  color: white;
  z-index: 2;
}

.panel-body {
  height: 80px;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

#media-container {
  height: 100%;
}

.main-panel {
  border: 1px solid black;
  height: 80px;
  padding: 0px;
}

.calendar{
  margin: 10px;
  position: relative;
  left: 18%;
  bottom: 20px;
}

#chart-container {
  position: relative;
  left: 15%;
  margin-top: 20px;
}

#react-FC {
    margin: 10px;
    position: relative;
    left: 18%;
    bottom: 20px;
}

.materialboxed {
  height: 99%;
}

.material-placeholder {
  height: 100%;
}

.row {
  margin-bottom: 0px;
}

.navbar {
  background: black;
  margin-bottom: 30px;
}

#submit-form {
	margin: 20px;
}

#date-display {
  position: absolute;
  top: 1%;
  left: 37.8%;
  font-size: 30px;
  transition: 0.5s;
}

#trends-button {
  position: absolute;
  top:2%;
  left: 1%;
}

#calendar-button {
  position: absolute;
  top:2%;
  left: 6.5%;
}


#currentdate {
  background: orange;
  border-bottom: 2px solid black;
}

#dateselected {
  border: 1px solid white;
}

#upfile {
	margin: 20px;
}

#panel-day-heading {
  color: white;
  font-size: 140%;
  text-align: center;
  line-height: 3.6em;
}

#date-holder {
  position: absolute;
  color: black;
  bottom: 30%;
  left: 35%;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 1px 1px;
  z-index: 2;
}

#side-display-container {
  position: absolute;
  top: 69px;
  right: 0px;
  height: 50%;
  width: 23.6%;
  background: white;
}

#X-axis-display {
  position: absolute;
  bottom: -5%;
  left: 30%;
  font-size: 20px;
  font-weight: bold;
}

#Y-axis-display {
  position: absolute;
  top: 42%;
  left: -2%;
  font-size: 20px;
  font-weight: bold;
}

#side-display-text-container {
  color: grey;
  font-size: 20px;
  font-weight: bold;
}

#side-display {
  position: absolute;
  left: 3%;
  top: 2%;
  background: white;
  border-radius: 20px;
  color: white;
  height: 80%;
  width: 94%;
}

.collection-item {
  color: black;
}

.row .col {
  padding: 0px;
}

.materialbox-caption {
  position: relative;
  bottom: 10%;
}

#warning-modal {
  color:red;
  font-weight: bold;
}

#modal-submit {
  position: absolute;
  left: 43.8%;
  background: black;
}

th {
  background: lightgrey;
  padding: 10px;
}

tr {
  background: white;
}

#side-nav {
  position: absolute;
  top: 11.4%;
  left: 0px;
  height: 50%;
  width: 10%;
}

#day-headings {
  background: black;
  text-shadow: 0px;
}

#caption-text-display {
  padding: 10px;
}

#caption-text-display-message {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  background: white;
}

#score-display {
  border: 1px solid grey;
  margin: 10px;
  width: 40%;
}

.emoticon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  position: relative;
  top: 6px;
}

#overall {
  position: relative;
  left: 2px;
}

#angry {
  position: relative;
  left: 10px;
}

#fear {
  position: relative;
  left: 20px;
}

.react-calendar-heatmap {
  height: 100px;
  width: 100px;
}

ul.slides {
  height:550px!important;
}

div.slider {
  height: 500px!important;
}
div.nav-wrapper {
  background-color:black;
}

#login-btn {
  background-color: black;
}

.slider .indicators .indicator-item.active {
  background-color: purple;
} 

.slider .slides li img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.brand-logo {
  background-image: url("../public/savedimages/introspectiv-logo.png")
}

footer.page-footer {
  background-color: black;
}

/*div.container {
  text-align: center;
}
div.row {
  text-align: center;
  font-size: 25px;
}*/

footer.page-footer.example {
  margin-top: 50px;
}

div.container {
  text-align: center;
}

copyrights {
  text-align: center;
}

#signup-btn {
  border: 20px;
  background-color: purple!important;
}

div.container {
  padding: 25px;
}

.row .col.l6 {
  width: 100%!important;
}

data-target {
  height:0%!important;
  width: 0px!important;
}

.input-field .prefix.active {
  color: purple!important;
}

label.active {
  color: purple!important;
}

nav {
  left: 0px!important;
}
html,body,#page, header { 
  height:100%;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid purple;
  box-shadow: 0 1px 0 0 purple;
}

input[type=tel]:focus:not([readonly]){
  border-bottom: 1px solid purple;
  box-shadow: 0 1px 0 0 purple;
}

#submit-button {
  background-color: purple!important;
}

#SideNavMod {
  position: absolute;
  left: 10px;
}

#SideNavMod > span > button {
  background: white;
  color: black;
}

#logo {
  position: absolute;
  right: 0.5%;
  font-size: 2.1rem;
  font-family: "Roboto", sans-serif;
}

#modal > div.modal-content > div:nth-child(3) > form > button {
  background: black;
}