html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
}

.panel-body {
  padding-top: 20px;
  border-radius:6px;
}

.calendar{
  margin: 10px;
  position: relative;
  left: 100px;
}

.navbar {
	background: lightblue;
}

#day-headings {
  background: lightblue;
  color: white;
}

#submit-form {
	margin: 20px;
}

#upfile {
	margin: 20px;
}