html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow-x:hidden;
  background-image: url("savedimages/background.jpg");
}

img {
  height: 98%;
  width: 100%;
}

nav {
  position: relative;
}

.btn:hover {
  background: grey;
}

.btn:focus {
  background: grey;
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
}

#route-packager {
  overflow: hidden;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background: #1BB1CC;
  color: white;
  z-index: 2;
}

footer {
  border-top: 2px solid white;
}

.panel-body {
  height: 80px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  background: white;
  border: 1px solid grey;
}

#panel-body-heading {
  border: 1px solid grey;
}

#media-container {
  height: 100%;
}

.main-panel {
  padding: 0px;
}

.calendar {
  margin: 10px;
  position: relative;
  left: 18%;
  bottom: 20px;
}

#calendar-btn {
  background: white;
  color: white;
}

#chart-container {
  position: relative;
  left: 15%;
  margin-top: 20px;
}

#react-FC {
  margin: 10px;
  position: relative;
  left: 18%;
  bottom: 20px;
}

.materialboxed {
  height: 99%;
}

.material-placeholder {
  height: 100%;
}

.row {
  margin-bottom: 0px;
}

.navbar {
  position: relative;
  width: 100%;
  background: #1BB1CC;
  margin-bottom: 30px;
}

#submit-form {
	margin: 20px;
}

#date-display {
  position: absolute;
  color: black;
  top: 1%;
  left: 37.8%;
  font-size: 30px;
  transition: 0.5s;
}

#calendar-btn {
  position: relative;
  top: 2px;
  left: 2%;
  background: #44DBA7;
}

#trends-btn {
  position: relative;
  top: 2px;
  left: 4%;
  background: #44DBA7;
}

#about-btn {
  position: relative;
  top: 2px;
  left: 70%;
  background: #44DBA7;
}

#about-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  background: #44DBA7;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

#currentdate {
  background: #F9BF43;
  border-bottom: 2px solid white;
}

#dateselected {
  border: 2px solid #F9BF43;
}

#upfile {
	margin: 20px;
}

#panel-day-heading {
  color: white;
  background: #1BB1CC;
  font-size: 100%;
  text-align: center;
  line-height: 1.6em;
  font-weight: bold;
}

#date-holder {
  position: absolute;
  color: black;
  bottom: 30%;
  left: 35%;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 1px 1px;
  z-index: 2;
}

#side-display-container {
  position: absolute;
  top: 69px;
  right: 0px;
  height: 15%;
  width: 23.8%;
  padding: 10px;
}

#X-axis-display {
  position: absolute;
  bottom: -5%;
  left: 30%;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#Y-axis-display {
  position: absolute;
  top: 42%;
  left: -2%;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#side-display-text-container {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

#side-display {
  position: absolute;
  left: 3%;
  top: 2%;
  border-radius: 20px;
  color: white;
  height: 100%;
  width: 94%;
}

.collection-item {
  color: black;
}

.row .col {
  padding: 0px;
}

.materialbox-caption {
  position: relative;
  bottom: 10%;
}

#warning-modal {
  color:red;
  font-weight: bold;
}

#modal-submit {
  position: relative;
  bottom: 10px;
  left: 30px;
  background: #44DBA7;
  color: white;
}

th {
  background: lightgrey;
  padding: 10px;
}

tr {
  background: white;
}

#side-nav {
  position: absolute;
  top: 11.4%;
  left: 0px;
  height: 50%;
  width: 10%;
}

#caption-text-display {
  padding: 10px;
}

#caption-text-display-message {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  background: white;
}

#score-display {
  border: 1px solid grey;
  margin: 10px;
  font-weight: bold;
  padding: 10px;
  width: 50%;
}

.emoticon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  position: relative;
  top: 6px;
}

#overall {
  position: relative;
  left: 2px;
}

#angry {
  position: relative;
  left: 10px;
}

#fear {
  position: relative;
  left: 20px;
}

ul.slides {
  height:550px!important;
}

div.slider {
  height: 500px!important;
}
div.nav-wrapper {
  background-color: #1BB1CC;
}

#login-btn {
  background-color: white;
  color: black;
  margin-left: 10px;
}

#login-btn:hover {
  background-color: #FEB405;
  color: white
}

#login-btn:focus {
  background-color: grey;
}

.slider .indicators .indicator-item.active {
  background-color: #FEB405;
} 

.slider .slides li img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

footer.page-footer {
  background-color: #1BB1CC;
}

footer.page-footer.example {
  margin-top: 50px;
}

div.container {
  text-align: center;
}

copyrights {
  text-align: center;
}

#signup-btn {
  border: 20px;
  background-color: white;
  color: black;
}

#signup-btn:hover {
  background-color: #FEB405;
  color: white;
}


div.container {
  padding: 25px;
}

.row .col.l6 {
  width: 100%!important;
}

data-target {
  height:0%!important;
  width: 0px!important;
}

.input-field .prefix.active {
  color: #FEB405!important;
}

label.active {
  color: #FEB405!important;
}

nav {
  left: 0px!important;
  border-bottom: 2px solid white;
}
html,body,#page, header { 
  height:100%;
}

body {
  margin: 0px;
  overflow: hidden;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #FEB405;
  box-shadow: 0 1px 0 0 #FEB405;
}

input[type=tel]:focus:not([readonly]){
  border-bottom: 1px solid #FEB405;
  box-shadow: 0 1px 0 0 #FEB405;
}

#submit-button {
  background-color: #1BB1CC;
}

#submit-button:hover {
  background-color: grey;
  color: white;
}

#SideNavMod {
  position: absolute;
  left: 10px;
}

#SideNavMod > span > button {
  background: white;
  color: black;
}

#logo {
  position: absolute;
  right: 0.5%;
  font-size: 2.1rem;
  font-family: "Roboto", sans-serif;
}

#modal > div.modal-content > div:nth-child(3) > form > button {
  background: black;
}

#materialize-modal-overlay-1 {
  padding: 10%;
  padding-top: 15%;
  opacity: 1.0;
  color: white;
  font-size: 5rem;
  text-align: center;
}

.modal-close {
  color: white;
  background: #1BB1CC;
}

#signup {
  width: 30%;
}

#login {
  width: 30%;
}

#route-packager > div:nth-child(2) {
  display: none;
}

#login > div.modal-footer > button {
  background:#1BB1CC;
  color: white;
}

#myCalendar-insert {
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  font-family: 'Roboto', sans-serif;
}

#trends-insert {
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  font-family: 'Roboto', sans-serif;
}

#myCalendar-insert-header {
  font-weight: bold;
  background: #1BB1CC;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

#trends-insert-header {
  font-weight: bold;
  background: #1BB1CC;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

#myCalendar-insert-text {
  margin: 5px;
}

.list-row {
  background: lightgrey;
  padding: 5px;
}

#trends-insert-text {
  margin: 5px;
}

#left-column {
  position: fixed;
  left:0;
  top: 0;
  background: #4B545E;
  height: 100%;
  width: 5%;
  z-index: -1;
}

#right-column {
  position: fixed;
  right:0;
  top: 0;
  background: #4B545E;
  height: 100%;
  width: 5%;
  z-index: -1;
}

.collapsible {
  width: 200px;
  color: white;
}

.collapsible-header {
  background:#1BB1CC;
}