html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
  height: 20px;
  width: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
}

.panel-body {
  padding: 10px;
}

.panel-body:hover {
    cursor: pointer;
}

.calendar{
  margin: 10px;
  position: relative;
  left: 100px;
}

.navbar {
	background: lightblue;
}

.wrapper {
  text-align: center !important;
}

.modal-footer {
  float: right;
  margin: 6px 0;
}

#signup-btn{
  position: absolute !important;
  /* top: 50% !important; */

}


#day-headings {
  background: lightblue;
  color: white;
}

#submit-form {
	margin: 20px;
}

#date-display {
  position: relative;
  left: 300px;
  font-size: 30px;
}

#currentdate {
  background: orange;
}

#dateselected {
  border: 4px solid blue;
}

#upfile {
	margin: 20px;
}