html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
  height: 98%;
  width: 100%;
}

nav {
  position: relative;
  left: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
}

.panel-body {
  height: 80px;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

#media-container {
  height: 100%;
}

.main-panel {
  border: 1px solid black;
  height: 80px;
  padding: 0px;
}

.calendar{
  margin: 10px;
  position: relative;
  left: 18%;
  bottom: 20px;
}

#chart-container {
  position: relative;
  left: 15%;
  margin-top: 20px;
}

#react-FC {
    margin: 10px;
    position: relative;
    left: 18%;
    bottom: 20px;
}

.materialboxed {
  height: 99%;
}

.material-placeholder {
  height: 100%;
}

.row {
  margin-bottom: 0px;
}

.navbar {
  background: blue;
  margin: 10px;
}

#submit-form {
	margin: 20px;
}

#date-display {
  position: absolute;
  left: 37.8%;
  font-size: 30px;
  transition: 0.5s;
}

#currentdate {
  background: orange;
  border-bottom: 2px solid black;
}

#dateselected {
  border: 1px solid white;
}

#upfile {
	margin: 20px;
}

#panel-day-heading {
  color: white;
  font-size: 140%;
  text-align: center;
  line-height: 3.6em;
}

#date-holder {
  position: absolute;
  color: black;
  bottom: 30%;
  left: 35%;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 1px 1px;
  z-index: 2;
}

#side-display-container {
  position: absolute;
  top: 80px;
  right: 0px;
  height: 90%;
  width: 23.6%;
  background: white;
}

#side-display-text-container {
  color: grey;
  font-size: 20px;
  font-weight: bold;
}

#side-display {
  position: absolute;
  left: 3%;
  top: 2%;
  background: ivory;
  border-radius: 20px;
  color: white;
  height: 80%;
  width: 94%;
}

.collection-item {
  color: blue;
}

.row .col {
  padding: 0px;
}

.materialbox-caption {
  position: relative;
  bottom: 10%;
}

#warning-modal {
  color:red;
  font-weight: bold;
}

#modal-submit {
  position: absolute;
  left: 43.8%;
  background: blue;
}

#side-nav {
  position: absolute;
  top: 11.4%;
  left: 0px;
  height: 50%;
  width: 10%;
}

#day-headings {
  background: blue;
  text-shadow: 0px;
}

#caption-text-display {
  padding: 10px;
}

#caption-text-display-message {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
}

.react-calendar-heatmap {
  height: 100px;
  width: 100px;
}

#overall-mood-score {
  border: 1px solid grey;
  border-radius: 20px;
  background: blue;
  color: white;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

#anger-mood-score {
  border: 1px solid grey;
  border-radius: 20px;
  background: red;
  color: white;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

#fear-mood-score {
  border: 1px solid grey;
  border-radius: 20px;
  background: orange;
  color: white;
  padding: 10px;
  margin: 10px;
  display: inline;
}

#disgust-mood-score {
  border: 1px solid grey;
  border-radius: 20px;
  background: green;
  color: white;
  padding: 10px;
  margin: 10px;
  display: inline;
}




#SideNavMod {
  position: absolute;
  left: 10px;
}

#SideNavMod > span > button {
  background: white;
  color: blue;
}

#modal > div.modal-content > div:nth-child(3) > form > button {
  background: blue;
}